html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, p:before, p:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: 'Roboto', sans-serif; }

html {
  font-size: 10px; }

body {
  font-size: 1.4rem; }

.form-control {
  display: block;
  width: 100%;
  height: 3.4rem;
  box-sizing: border-box;
  padding: 1rem 1.2rem;
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.4rem;
  white-space: nowrap;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: .1rem solid #ccc;
  border-radius: .3rem;
  -webkit-box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.075) 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.075) 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.075) 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

.btn {
  display: inline-block;
  padding: 1rem 4rem;
  margin: 0;
  height: 3.4rem;
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.4rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border-radius: .3rem;
  outline: 0;
  border: none;
  color: #FFFFFF;
  text-decoration: none;
  box-sizing: border-box; }
  .btn:active {
    -webkit-box-shadow: inset 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0.2rem 0.1rem 0 rgba(0, 0, 0, 0.1); }
  .btn.primary {
    background: #3BAFDA; }
    .btn.primary:hover {
      background-color: #4FC1E9; }
  .btn.success {
    background: #8CC152; }
    .btn.success:hover {
      background-color: #A0D468; }
  .btn.warning {
    background: #F6BB42; }
    .btn.warning:hover {
      background-color: #FFCE54; }
  .btn.danger {
    background: #DA4453; }
    .btn.danger:hover {
      background-color: #ED5565; }
  .btn.info {
    background: #37BC9B; }
    .btn.info:hover {
      background-color: #48CFAD; }
  .btn.normal {
    background: #AAB2BD; }
    .btn.normal:hover {
      background-color: #CCD1D9; }
  .btn.default {
    color: #000000;
    background: #FFFFFF; }
    .btn.default:hover {
      background-color: #CCD1D9; }

.alert {
  display: block;
  padding: 1.5rem;
  width: 100%; }
  .alert.primary {
    background-color: #3BAFDA;
    color: #FFFFFF; }
  .alert.success {
    background-color: #8CC152;
    color: #FFFFFF; }
  .alert.warning {
    background-color: #F6BB42;
    color: #FFFFFF; }
  .alert.danger {
    background-color: #DA4453;
    color: #FFFFFF; }
  .alert.info {
    background-color: #37BC9B;
    color: #FFFFFF; }
  .alert.normal {
    background-color: #AAB2BD;
    color: #000000; }
  .alert.default {
    background-color: #FFFFFF;
    color: #000000; }

.icon {
  display: inline-block;
  margin: 0;
  padding: 0; }
  .icon.icon-s {
    width: 2rem;
    height: 2rem;
    background-size: 2rem 2rem; }
  .icon.icon-m {
    width: 3rem;
    height: 3rem;
    background-size: 3rem 3rem; }
  .icon.icon-l {
    width: 5rem;
    height: 5rem;
    background-size: 5rem 5rem; }
  .icon.favorite-outline {
    background-image: url(./icons/favorite-outline.svg); }
  .icon.favorite-filled {
    background-image: url(icons/favorite-filled.svg); }
  .icon.user {
    background-image: url(./icons/user.svg); }
  .icon.user-box {
    background-image: url(icons/user-box.svg); }
  .icon.add {
    background-image: url(icons/add.svg); }
  .icon.add-box {
    background-image: url(./icons/add-box.svg); }
  .icon.announcement {
    background-image: url(icons/announcement.svg); }
  .icon.attach-file {
    background-image: url(icons/attach-file.svg); }
  .icon.attachment {
    background-image: url(./icons/attachment.svg); }
  .icon.cog {
    background-image: url(icons/cog.svg); }
  .icon.delete {
    background-image: url(icons/delete.svg); }
  .icon.done-all {
    background-image: url(./icons/done-all.svg); }
  .icon.done {
    background-image: url(icons/done.svg); }
  .icon.extension {
    background-image: url(./icons/extension.svg); }
  .icon.help-outline {
    background-image: url(icons/help-outline.svg); }
  .icon.help {
    background-image: url(./icons/help.svg); }
  .icon.insert-photo {
    background-image: url(icons/insert-photo.svg); }
  .icon.refresh {
    background-image: url(./icons/refresh.svg); }
  .icon.description {
    background-image: url(./icons/description.svg); }
  .icon.bookmark {
    background-image: url(./icons/bookmark.svg); }
  .icon.bug {
    background-image: url(./icons/bug.svg); }
  .icon.assignment {
    background-image: url(./icons/assignment.svg); }
  .icon.assignment-done {
    background-image: url(./icons/assignment-done.svg); }
  .icon.assignment-late {
    background-image: url(./icons/assignment-late.svg); }
  .icon.pencil {
    background-image: url(./icons/pencil.svg); }
  .icon.mail {
    background-image: url(./icons/mail.svg); }
  .icon.notification {
    background-image: url(./icons/notification.svg); }
  .icon.notification-none {
    background-image: url(./icons/notification-none.svg); }
  .icon.send {
    background-image: url(./icons/send.svg); }

.col {
  display: block;
  float: left;
  margin: 0;
  padding: 0; }

.col1 {
  width: 8.33%; }

.col2 {
  width: 16.66%; }

.col3 {
  width: 25%; }

.col4 {
  width: 33.33%; }

.col6 {
  width: 50%; }

.col8 {
  width: 66.66%; }

.col9 {
  width: 75%; }

.col10 {
  width: 83.33%; }

.col12 {
  width: 100%; }

nav {
  display: block;
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 0.1rem solid #333333; }
  nav ul {
    overflow: hidden; }
    nav ul li {
      display: block;
      float: left; }
      nav ul li a {
        display: block;
        padding: 1rem 3rem;
        color: #333333; }

3.my_icon_root {
  position: relative;
  display: inline-block; }
  3.my_icon_root .my_icon_tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    transition: opacity 1s; }

.my_icon_root:hover .my_icon_tooltip {
  visibility: visible; }
  .my_icon_root:hover .my_icon_tooltip::after {
    content: ' ';
    position: absolute;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid; }
  .my_icon_root:hover .my_icon_tooltip.tooltip-top {
    bottom: 125%;
    left: 50%;
    margin-left: -60px; }
    .my_icon_root:hover .my_icon_tooltip.tooltip-top::after {
      top: 100%;
      left: 50%;
      border-color: #555 transparent transparent transparent; }
  .my_icon_root:hover .my_icon_tooltip.tooltip-bottom {
    top: 135%;
    left: 50%;
    margin-left: -60px; }
    .my_icon_root:hover .my_icon_tooltip.tooltip-bottom::after {
      bottom: 100%;
      left: 50%;
      border-color: transparent transparent #555 transparent; }
  .my_icon_root:hover .my_icon_tooltip.tooltip-left {
    top: -5px;
    right: 128%; }
    .my_icon_root:hover .my_icon_tooltip.tooltip-left::after {
      right: 0;
      margin-right: -10px;
      border-color: transparent transparent transparent #555; }
  .my_icon_root:hover .my_icon_tooltip.tooltip-right {
    left: 125%; }
    .my_icon_root:hover .my_icon_tooltip.tooltip-right::after {
      top: 25%;
      right: 100%;
      border-color: transparent #555 transparent transparent; }
