
nav
  display: block
  width: 100%
  background-color: $default-normal
  border-bottom: .1rem solid $black-normal
  ul
    overflow: hidden
    
    li
      display: block
      float: left
      a
        display: block
        padding: 1rem 3rem
        color: $black-normal
